body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 44px;
    background-color: #f29e93;
}

p {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    background-color: #e8ba5a;
}

h2 {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    background-color: #e8ba5a;
}

#survey-form {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}